apiVersion: v1
kind: Pod
metadata:
  labels:
    run: pod-exemplo
  name: pod-exemplo
spec:
  containers:
  - image: nginx
    name: pod-exemplo
    ports:
    - containerPort: 80
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Always
status: {}
