apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: statefulset-desafio
spec:
  selector:
    matchLabels:
      app: myapp
  serviceName: statefulset-desafio-service
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: nginx:latest
        ports:
        - containerPort: 80
          name: web
        volumeMounts:
        - name: www
          mountPath: /usr/share/nginx/html
  volumeClaimTemplates:
  - metadata:
      name: www
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
